<%- include('../partials/head') -%>

<div class="form-flex">
	<div class="container-form register-form">
		<%- include('../partials/messages') -%>
		<div class="heading">
			<h1>Sign up to WAAWTube</h1>
		</div>

		<form action="/auth/register" method="post" class="register">
			<label for="username">Username</label>
			<input type="text" name="username" id="" placeholder="e.g. Freyyo" required />
			<label for="email">Email</label>
			<input
				type="email"
				name="email"
				id=""
				placeholder="name@gmail.com"
				required
			/>
			<label for="password">Password</label>
			<input
				type="password"
				name="password"
				id=""
				placeholder="6+ characters"
				required
			/>
			<label for="confirmPassword">Confirm Password</label>
			<input
				type="password"
				name="confirmPassword"
				id=""
				placeholder="6+ characters"
				required
			/>

			<input type="submit" value="Sign up" />
		</form>
		<p>Already have an account? &nbsp; <a href="/auth/login">Log in</a></p>
	</div>
</div>

<%- include('../partials/foot') -%>
