<%- include('../partials/head') -%>
<%- include('../partials/header') -%>

<main class="mainBody">
<!-- Sidebar -->
<%- include('../partials/sidebar') -%>

	<div class="videos">
		<h1>Recommended</h1>

		<div class="videos__container">
			<!-- single Video Cards -->
			<div class="video">
				<div class="video__thumbnail">
					<img
						src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg"
						alt=""
					/>
				</div>

				<div class="video__details">
					<div class="author">
						<img src="./profile.jpeg" alt="" />
					</div>

					<div class="title">
						<h3>
							Top 5 programming language to learn in 2021 | Best programming to learn
						</h3>
						<a href="">WAAWFoundation</a>
						<span>10M Views &bull; 3 Months Ago</span>
					</div>
				</div>
			</div>

			<div class="video">
				<div class="video__thumbnail">
					<img
						src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg"
						alt=""
					/>
				</div>

				<div class="video__details">
					<div class="author">
						<img src="./profile.jpeg" alt="" />
					</div>

					<div class="title">
						<h3>
							Top 5 programming language to learn in 2021 | Best programming to learn
						</h3>
						<a href="">WAAWFoundation</a>
						<span>10M Views &bull; 3 Months Ago</span>
					</div>
				</div>
			</div>

			<div class="video">
				<div class="video__thumbnail">
					<img
						src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg"
						alt=""
					/>
				</div>

				<div class="video__details">
					<div class="author">
						<img src="./profile.jpeg" alt="" />
					</div>

					<div class="title">
						<h3>
							Top 5 programming language to learn in 2021 | Best programming to learn
						</h3>
						<a href="">WAAWFoundation</a>
						<span>10M Views &bull; 3 Months Ago</span>
					</div>
				</div>
			</div>

			<div class="video">
				<div class="video__thumbnail">
					<img
						src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg"
						alt=""
					/>
				</div>

				<div class="video__details">
					<div class="author">
						<img src="./profile.jpeg" alt="" />
					</div>

					<div class="title">
						<h3>
							Top 5 programming language to learn in 2021 | Best programming to learn
						</h3>
						<a href="">WAAWFoundation</a>
						<span>10M Views &bull; 3 Months Ago</span>
					</div>
				</div>
			</div>

			<div class="video">
				<div class="video__thumbnail">
					<img
						src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg"
						alt=""
					/>
				</div>

				<div class="video__details">
					<div class="author">
						<img src="./profile.jpeg" alt="" />
					</div>

					<div class="title">
						<h3>
							Top 5 programming language to learn in 2021 | Best programming to learn
						</h3>
						<a href="">WAAWFoundation</a>
						<span>10M Views &bull; 3 Months Ago</span>
					</div>
				</div>
			</div>

			<div class="video">
				<div class="video__thumbnail">
					<img
						src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg"
						alt=""
					/>
				</div>

				<div class="video__details">
					<div class="author">
						<img src="./profile.jpeg" alt="" />
					</div>

					<div class="title">
						<h3>
							Top 5 programming language to learn in 2021 | Best programming to learn
						</h3>
						<a href="">WAAWFoundation</a>
						<span>10M Views &bull; 3 Months Ago</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<%- include('../partials/foot') -%>