<%- include('../partials/head')-%>

<div class="login-container">
    <div class="login-content">
        <h3>Create a Video</h3>
        <%- include('../messages') -%>
        <form action="/video/create" method="POST" enctype="multipart/form-data">
            <div class="inputBox">
                <label for="">Video Title</label>
                <input type="text" name="title" id=""  required>
            </div>
            <div class="inputBox">
                <label for="image">Image Upload</label>
                <input type="file" accept="image/*" name="image" id="image" required>
            </div>
            <div class="inputBox">
                <label for="video">Video Upload</label>
                <input type="file" accept="video/*" name="video" id="video" required>
            </div>

            <div class="inputBox">
                <label for="">Description</label><br>
                <textarea name="description" id="" cols="30" rows="10"></textarea>
           </div>
            
            
                <button class="button" type="submit">SUBMIT</button>

                <p>Don't Have Account?<a href="/auth/register">Sign Up</a></p>

        
        </form>
    </div>
</div>


<%- include('../partials/foot') -%>